{% extends "::base.html.twig" %}

{% block title %}{{ parent() ~ ' - Login' }} {% endblock %}

{% block body %}
    {% if error %}
        <div class="ui negative message ten wide centered column">
            <div class="header">Error</div>
            <p>{{ error.message|trans({}, 'FOSUserBundle') }}</p>
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}"
          method="post"
          class="ui centered column ten wide form error segment">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        <div class="field">
            <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
        </div>

        <div class="field">
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required"/>
        </div>

        <div class="inline field">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        </div>

        <input type="hidden" name="_target_path" value="{{ path('project') }}"/>


        <input type="submit"
               id="_submit"
               name="_submit"
               value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
               class="ui submit button "/>
    </form>
{% endblock %}
