{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="one column row">
        <div class="column">
            <p class="ui segment">
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
            </p>
        </div>
    </div>
{% endblock body %}
