{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

    {% block body %}
        <div class="one column row">
            <div class="column">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="ui form segment">
                    <div class="field">
                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        {% endif %}
                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" id="username" name="username" required="required"/>
                    </div>
                    <div>
                        <input type="submit"
                               value="{{ 'resetting.request.submit'|trans }}"
                               class="ui blue inverted button"/>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
