{% extends "::base.html.twig" %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="one column row">
        <div class="column">
            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }}
                  method="POST"
                  class="ui form segment">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}"
                           class="ui blue inverted button"/>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
