{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="two column row">
        <div class="column">
            <h2 class="ui header">
                <i class="user icon"></i>
                <div class="content">
                    Registration - confirmed
                </div>
            </h2>
        </div>
        <div class="column">
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}
                    <div class="ui right floated segment menu">
                        <a class="item" href="{{ targetUrl }}">
                            <i class="left arrow icon"></i>
                            {{ 'registration.back'|trans }}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="one column row">
        <div class="column">
            <p class="ui segment">
                {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
            </p>
        </div>
    </div>
{% endblock body %}
