<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="ui form segment">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="ui button blue inverted" />
    </div>
</form>
