{% extends "::base.html.twig" %}

{% block body %}
    <div class="one column row">
        <div class="column">
            {% include "PolargoldUserBundle:Profile:edit_content.html.twig" %}
        </div>
    </div>
{% endblock body %}
