<div class="two column row">
    <div class="column">
        <h2 class="ui header">
            <div class="content">User - {{ user.username }}</div>
        </h2>
    </div>
    <div class="column">
        <div class="ui right floated menu">
            <a class="item" href="{{ path('fos_user_profile_edit') }}">
                <i class="edit icon"></i>
                Edit
            </a>
            <a class="item" href="{{ path('admin_user') }}">
                <i class="arrow left icon"></i>
                Back
            </a>
        </div>
    </div>
</div>

<div class="one column row">
    <div class="column">
        <table class="segment ui very basic table">
            <tbody>
            <tr>
                <th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.roles'|trans({}, 'FOSUserBundle') }}</th>
                <td>{% for role in user.roles %}
                        {{ role }}
                    {% endfor %}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

