{% extends '::base.html.twig' %}

{% block body -%}

    <div class="two column row">
        <div class="column">
            <h2 class="ui header">
                <i class="user icon"></i>

                <div class="content">User - list</div>
            </h2>
        </div>
        <div class="column">
            <div class="ui right floated segment menu">
                <a class="item" href="{{ path('fos_user_registration_register') }}">
                    <i class="plus icon"></i>
                    New
                </a>
            </div>
        </div>
    </div>

    <div class="one column row">
        <div class="column">
            <table class="ui sortable table segment">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% set delete_form = user['form'] %}
                    {% set user = user['entity'] %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_DEV')  %}
                                {# TODO : find solution... #}
                                {#{% form_theme delete_form 'PolargoldCommonSemanticBundle:Form:simple_delete_form.html.twig' %}#}
                                    {{ form(delete_form) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
